img{
	width: 1100px;
	height: 141px;

}

.footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #eeeeee;
   color: black;
   text-align: center;
}
p{
	font-family: "15px/18px serif";
	
}

